# Added by Illuminated Cloud
.sfdx/
/IlluminatedCloud/
/out/
target/
node_modules/
**/.idea
.DS_Store
*iml
/force-app/main/default/profiles/Admin.profile-meta.xml
/force-app/main/default/profiles/Trial Customer Portal User.profile-meta.xml
